@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,500;0,600;0,700;1,600&family=Prompt:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

nav {
    background-color: #1c41d6;
    color: white;
    height: 65px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'League Spartan', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'League Spartan', sans-serif;
}

.box {
    border: 1.5px solid black;
    font-size: 10vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 17px;
}

.box:hover {
    background-color: #e2e6f0;
    ;
}

.gamestatus {
    display: flex;
    align-items: center;
}

.info {
    font-size: 25px;
}

.gameInfo {
    padding: 0 30px;
    font-family: 'League Spartan', sans-serif;
}

.gameInfo h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    font-family: 'League Spartan';
    cursor: pointer;
    background-color: #e9d9f3;
    /* border-style: none; */
    margin: 0 23px;
    padding: 5px 18px 5px 18px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    /* border: 1px solid #1c41d6; */
}